<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body>
    <%= msg  %>

    <form method="post" action="/">
      <table border="1" cellspacing="0">
        <tr>
          <td>メッセージ１</td><td><input type="text" name="message" >
        </tr>
        <tr>
          <td></td><td><input type="submit" value="投稿"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
