@charset "UTF-8";


body {
  font-family: sans-serif;
  width: 800px ;
  margin-left: auto;
  margin-right: auto;
}

table {
  background-color: #FFFFFF;
}

.message {
  width: = "200";
}

h1 {
  background-color: blue;
  text-align: center;
  color: white;
}
